
.wrapper {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
    transition: border 0.4s ease-in-out;
}

.wrapper:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: teal;
    transition: width 0.4s ease-in-out;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: teal;
    transition: width 0.4s ease-in-out;
}


.wrapper span {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 20px;
    transition: color 0.4s ease-in-out,
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

.wrapper span:nth-child(1) {
    transition-delay: 0.4s;
}

.wrapper:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
}

.wrapper span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #111;
    transition-delay: 0s;
}

.wrapper:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0.4s;
    opacity: 1;
    z-index: 10;
}


.wrapper:hover::before,
.wrapper:hover::after {
    width: 50%;
}