
.inputWrap {
    position: relative;
}

.defaultInput {
    height: 100%;
    width: 100%;
    box-shadow: none;
    outline-offset: 0;
    outline: none;
    background-color: transparent;
    border: 1px solid teal;
    border-radius: 5px;
    transition: border 0.2s ease-in-out;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10px;
    resize: none;
}

.labelText {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0 5px;
    line-height: 15px;
    background-color: #202023;
    color: white;
    font-size: 17px;
    transition: color 0.1s linear, top 0.1s linear, font-size 0.1s linear, left 0.1s linear;
    pointer-events: none;
}

.defaultInput:focus {
    border: 1px solid #0097d9 !important;
}

.defaultInput:focus ~ .labelText,
.defaultInput:not(:placeholder-shown) ~ .labelText {
    top: -8px;
    left: 5px;
    font-size: 12px;
    z-index: 10;
}

.error {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 13px;
    bottom: -25px;
    left: 50%;
    padding: 0 10px;
    transform: translate(-50%);
    color: yellow;
}


.dark {
    border-color: #f0e7db;
    color: #f0e7db;
}

.dark + .labelText {
    background-color: #202023;
    color: #f0e7db;
}

.light {
    border-color: #202023;
    color: #202023;
}

.light + .labelText {
    background-color: #f0e7db;
    color: #202023;
}


.darkAutofill:-webkit-autofill,
.darkAutofill:-webkit-autofill:hover,
.darkAutofill:-webkit-autofill:focus,
.darkAutofill:-webkit-autofill:active {
    -webkit-text-fill-color: #f0e7db;
    -webkit-box-shadow: 0 0 0 1000px #202023 inset;
    transition: background-color 0.2s ease-in-out;
}

.lightAutofill:-webkit-autofill,
.lightAutofill:-webkit-autofill:hover,
.lightAutofill:-webkit-autofill:focus,
.lightAutofill:-webkit-autofill:active {
    -webkit-text-fill-color: #202023;
    -webkit-box-shadow: 0 0 0 1000px #f0e7db inset;
    transition: background-color 0.2s ease-in-out;
}

.errorDark {
    color: yellow;
}

.errorLight {
    color: tomato;
}